@font-face{
    font-family:"Gilroy - Extra Bold";
    src:
    local("Gilroy - Extra Bold"),
    url("../css/fonts/gilroyextrabold.woff2") format("woff2"),
    url("../css/fonts/gilroyextrabold.woff") format("woff");
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:"Gilroy Light";
    src:
    local("Gilroy Light"),
    url("/css/fonts/gilroylight.woff2") format("woff2"),
    url("/css/fonts/gilroylight.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:"Open Sans";
    src:
    local("Open Sans"),
    url("../css/fonts/opensans.woff2") format("woff2"),
    url("../css/fonts/opensans.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: "Open Sans Light";
    src:
    local("Open Sans Light"),
    url("../css/opensanslight.woff2") format("woff2"),
    url("../css/opensanslight.woff") format("woff");
    font-weight:normal;
    font-style:normal;
}
html,body{
    position: relative;
    margin:0 auto;
    padding: 0;
    width:1440px;
    height:100%;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #464646;
    font-size: 15px;
    font-weight: 300;

    background-color:#ffffff;
}
img{
    max-width:100%;
    height:auto;
}
a {
    text-decoration: none;
}

/*--------------------------------HEADER-----------------------------*/
.main-header {
    width: 80%;
    min-height: 299px;
    padding: 40px 60px 0;
    margin: auto;

    background-color: rgba(255, 198, 0, 0.5);
}
.main-header .logo {
    position: absolute;
    top: -20px;
    left: 150px;
    display: block;
    
    margin: 0;
    padding: 0;
    
    width: 164px;
    font-family: "Gilroy - Extra Bold",sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
}
.logo:hover,
.logo:focus {
    color: rgba(0, 0, 0, 0.5);
}
.logo:active {
    color: rgba(0, 0, 0,  0.3);
}
.site-search {
    position: relative;
    width: 360px;
    min-height: 49px;
    padding: 15px 45px;
    box-sizing: border-box;
    border:none;
    background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 5%;
}
.site-search:focus {
    outline: none;
    border-bottom: 2px solid black;
}

input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
input[type="search"]:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
input[type="search"]:hover:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
input[type="search"]:-moz-placeholder {
    color: rgba(0, 0, 0,  0.3);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.btn-hidden {
    width: 85px;
    height: 49px;
    border: 2px solid #000000;
    background-color: transparent;

    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.btn-hidden:hover,
.btn-hidden:focus {
    color: #ffffff;
    background-color: #000000;
}
.btn-hidden:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 40px;
}
.top-menu a {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.top-menu a:hover,
.top-menu a:focus {
    opacity: 0.6;
}
.top-menu a:active {
    opacity: 0.3;
}
.top-menu a:active .header-small-icon {
    opacity: 0.3;
}
.main-navigation {
    width: 100%;
    margin: 0;
    
    padding: 0;
}
.main-nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.main-nav-list li {
    position: relative;
}
.main-nav-item a {
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.main-nav-item a:hover,
.main-nav-item a:focus {
    opacity: 0.6;
}
.main-nav-item a:active {
    opacity: 0.3;
}

.submenu {
    position: absolute;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 40px;
    left: -60px;
    width: 580%;
    height: 170px;
    z-index: 20;
    margin: 0;
    padding: 40px 60px;
    box-sizing: border-box;
    background-color: rgb(245, 215, 107);
    
    list-style: none;
}

.submenu-item a {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
}
.submenu-item a:hover,
.submenu-item a:focus {
    color: rgba(0, 0, 0, 0.6);
}
.submenu-item a:active {
    color: rgba(0, 0, 0, 0.3);
}
/*--------------------------------------MAIN-1-----------------------------------------*/
.slider-promo {
    width: 100%;
    margin-top: -100px;
    margin-bottom: 100px;
    padding: 0 140px;
    box-sizing: border-box;

    border: 1px solid violet;
}
.promo-slide-1,
.promo-slide-2,
.promo-slide-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image {
    margin: 0;
    margin-right: 125px;
    padding: 0;

    border: 1px solid violet;
}
.promo-slide-3 .image {
    margin-left: -30px;
    margin-right: 10px;
}
.info {
    position: relative;
    margin: 0;
    padding: 0;
    width: 510px;
}
.promo-heading {
    position: relative;
    z-index: 10;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 47px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.17px;
}
.promo-heading:before {
    content:"";
    position: absolute;
    top:-70px;
    left: 40px;
    width:7px;
    height:100px;
    transform: rotate(90deg);
    background-color: #ffffff;
}
.slider-number {
    position: absolute;
    top:-20px;
    right: 10px;
    color: #ffffff;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 179px;
    font-weight: 400;
    line-height: 179.2px;
    letter-spacing: 0.36px;
}
.promo-text {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;

    color: #464646;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}
.details {
    position: relative;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
}
/*.details::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 220px;
    transform: rotate(90deg);
    background-color: #f0c52e;

}*/
.details:hover,
.details:focus {
    background-color: #f0c52e;
}
.details:active {
    color: rgba(0, 0, 0,  0.3);
    background-color: #f0c52e;
}
.row-2 {
    color: #000000;
    font-family:"Gilroy Light", sans-serif;/*??????*/
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px
}
.row-1 {
    color: #464646;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.13px;
}
.porduct-groups {
    width: 100%;
    padding: 0 140px;
    box-sizing: border-box;
    margin-bottom: 80px;
}
.product-group-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.product-image {
    width: 160px;
    min-height: 160px;
    background-color: rgba(255, 198, 0, 0.5);
}
.product-link:hover .product-image,
.product-link:focus .product-image {
    background-color: #f0c52e;
    opacity: 1;
}
.product-link p {
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}

.product-link:active p {
    color: rgba(0, 0, 0,  0.3);
}

.services {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 388px;
    padding: 80px 140px 70px;
    border-bottom: 288px solid #e5e5e5;
    box-sizing: border-box;
}

.services-list {
    margin: 0;
    margin-right: 125px;
    margin-top: 80px;
    padding: 0;
    width: 278px;
    list-style: none;
}
.services-item {
    margin-bottom: 20px;
}
.services-item a {
    position: relative;

    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    
    background-color: transparent;
}
/*.services-item a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 160px;
    transform: rotate(90deg);
    background-color: #f0c52e;

}*/
.current-item a {
    color: #f7e184;
    background-color: #000000;
}
.services-item a:hover,
.services-item a:focus {
    background-color: #f0c52e;
}
.services-item a:active {
    color: #f7e184;
    background-color: #000000;
}

.services-slider {
    list-style: none;
}
.services-slide-1 .service-paragraph {
    width: 426px;
}
.services-slide-2 .service-paragraph {
    width: 436px;
}
.services-slide-3 .service-paragraph {
    width: 425px;
}
.sevice-heading {
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.21px;
}
.service-paragraph {
    color: #464646;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.brands {
    width: 100%;
    padding: 106px 200px 120px;
    box-sizing: border-box;
}
.brands-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.brand-item {
    width: 20%;
    min-height: 100px;
}
.dji img,
.sp img,
.go-pro img,
.vive img {
    filter: grayscale(1) opacity(50%);
}

.dji:hover img,
.dji:focus img {
   filter: none;
}
.sp:hover img,
.sp:focus img {
   filter: none;
}
.go-pro:hover img,
.go-pro:focus img {
    filter: none;   
}
.vive:hover img,
.vive:focus img {
    filter: none;   
}


.two-columns {
    width: 100%;
    padding: 50px 140px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-us {
    position: relative;
    width: 465px;
}
.about-us::before,
.contacts::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 40px;
    width: 7px;
    height: 88px;
    transform: rotate(-90deg);
    background-color: #000000;
}
.contacts {
    position: relative;
    width: 560px;
}

.about-us h2,
.contacts h2 {
    
    margin-bottom: 56px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.21px;
}
.about-us p,
.contacts p {
    color: #464646;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.about-us-paragraph:nth-child(3) {
    margin-bottom: 40px;
}
.transport-company-list {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;

    list-style-type: ;
}
.transport-company {
    padding-left: 30px;
    margin-bottom: 7px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
.about-us-link,
.contact-us-link {
    color: #000000;
    font-family: "Gilroy - Extra Bold",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
}

/*.link-link::after {
    content: "";
    position: absolute;
    top: -120px;
    left: 80px;
    width: 8px;
    height: 260px;
    transform: rotate(90deg);
    background-color: rgba(240, 197, 46, 0.8);
}*/

.contacts-paragraph {
    margin-bottom: 44px;
}
.contacts img {
    width: 560px;
    height: 222px;
    margin-bottom: 70px;
}
/*----------------------------------MAIN-2----------------------------*/

.main-heading {
    margin-left: 200px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 47px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.17px;
}
.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 200px;
    margin-bottom: 50px;
    padding: 0;

    list-style: none;
}
.breadcrumbs a {
    position: relative;
    margin-right: 40px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}
.inner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.filter {
    width: 30%;

    background-color: rgba(0, 0, 0,  0.1);
}
.filter h2 {
    margin: 0;
    margin-bottom: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.91px;
    text-align: center;

    background-color:rgba(0, 0, 0, 0.3);
}
.filter form {
    width: 40%;
    margin-left: 200px;
    margin-right: 70px;
}
/*.filter .fieldset {
    border-top: 2px solid black;
}*/
legend {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
    text-align: left;
}
.color-options,
.bluetooth-options {
    list-style: none;
}

.filter-range {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 80px;
}
.scale {
    position: relative;
    width: 196px;
    height: 2px;
    background-color: #dbdbdb;
}
.bar {
    width: 110px;
    height: 2px;
    background-color: #91c92f;
}
.range-toggle {
    position: absolute;
    top: -10px;
	left: 0;
    width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle-max {
	left: 100px;
}
.submit-options {
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    border: none;
}
.price-controls {
    width: 155px;
}
.price-label,
.price-input {
    display: inline-block;
}

.cat-container {
    width: 70%;
}
.sort {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    padding-right: 140px;
    background-color: rgba(0, 0, 0,  0.1);
}
.sort h2 {
    margin: 0;
    margin-left: 70px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.91px;
}
.sort a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.sort a:hover,
.sort a:focus {
    color: rgba(0, 0, 0, 0.6);
}
.sort a:active {
    color: #000000;
}
.sort-pointers {
    margin-left: auto;
}
.sort-pointers a path {
   fill: #cacaca;
}
.sort-pointers a:hover path,
.sort-pointers a:focus path
 {
    fill: #ababab;
}
.sort-pointers a:active path {
    fill: #000000;
}
.sort-pointers .option-current path {
    fill: #000000;
}

.catalog {
    width: 100%;
    padding: 70px;
    padding-right: 140px;
    box-sizing: border-box;
}
.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.catalog-item {
    position: relative;
    margin-bottom: 40px;
}
.catalog-item img {
    width: 360px;
    height: 380px;
    margin-bottom: 37px;
}
.product-title {
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;

    margin: 0;
}
.title-price {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.price {
    color: #464646;
    font-family: "Gilroy Light", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.16px;
}
.actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 379px;
    margin: 0;
    padding: 180px 80px 135px;
    box-sizing: border-box;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.5);
	z-index: 10;
}
.actions .buy {
    position: relative;
    display: block;
    padding: 14px 40px;
    margin-bottom: 15px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
}
/*.actions .buy::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 260px;
    transform: rotate(90deg);
    background-color: #f0c52e;
}*/
.actions .buy:hover,
.actions .buy:focus {
    background-color: #f0c52e;
}
.actions .buy:active {
    background-color: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}
.actions .compare {
    color: rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.13px;
}
.actions .compare:hover,
.actions .compare:focus {
    color: #000000;
}
.actions .compare:active {
    color: rgba(0, 0, 0, 0.2);
}
.catalog-item:hover .actions {
	display: block;
}
.pagination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 77px;

    list-style: none;
    background-color: rgba(0, 0, 0,  0.1);
}
.pagination-list a {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-left: 15px;
    color: rgba(0, 0, 0,  0.3);
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.91px;
}
.pagination-list a:hover,
.pagination-list a:focus {
    color: rgba(0, 0, 0,  0.6);
}
.pagination-list a:active {
   color: #000000;
}
.pagination-item:first-child {
    margin-left: -40px;
    margin-right: auto;
}
.pagination-item:last-child {
    margin-left: auto;
}
.pagination-item .backward,
.pagination-item .forward
{   padding-left: 30px;
    padding-right: 30px;
    color: #000000;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.91px;
}
.pagination-item .backward:hover,
.pagination-item .forward:hover,
.pagination-item .backward:focus,
.pagination-item .forward:focus {
    background-color:rgba(0, 0, 0, 0.3);
}
.pagination-item .backward:active,
.pagination-item .forward:active {
    color: rgba(0, 0, 0, 0.3);
}
/*-------------------------------------FOOTER--------------------------*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 66px 140px;
    box-sizing: border-box;
    min-height: 323px;
    background-color: #464646;
}
.footer-column:first-child {
    position: relative;
    width: 25%;
}
.footer-column:first-child:after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 40px;
    width: 7px;
    height: 88px;
    transform: rotate(90deg);
    background-color: #ffc600;
}

.footer-column .logo {
    display: block;
    margin-bottom: 40px;
    color: #ffc600;

    width: 164px;
    font-family: "Gilroy - Extra Bold",sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
}
.footer-column .logo:hover,
.footer-column .logo:focus {
    opacity: 0.6;
    color: #ffc600;
}
.footer-column .logo:active {
    opacity: 0.3;
    color: #ffc600;
}
.footer-column .adress {
    color: #ffffff;
    
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.footer-column:nth-child(2) {
    /*width: 30%;*/
    display:flex;
    flex-direction: column;
    min-width: 430px;
    padding-top: 76px;
}
.footer-column:nth-child(3) {
    margin: 0;
    padding: 0;
    min-width: 325px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.footer-menu {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-login-link,
.footer-compare-link,
.footer-cart-link {
    color: rgba(255, 255, 255, 0.7);
   
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.15px;
}
.footer-login-link:hover,
.footer-login-link:focus,
.footer-compare-link:hover,
.footer-compare-link:focus,
.footer-cart-link:hover,
.footer-cart-link:focus {
    color: #ffffff;
}
.footer-login-link:active,
.footer-compare-link:active,
.footer-cart-link:active {
    color: rgba(255, 255, 255, 0.3);
}
.footer-login-link:hover .footer-small-icon path,
.footer-login-link:focus .footer-small-icon path,
.footer-compare-link:hover .footer-small-icon path,
.footer-compare-link:focus .footer-small-icon path,
.footer-cart-link:hover .footer-small-icon path,
.footer-cart-link:focus .footer-small-icon path{
   fill: rgba(255, 198, 0, 0.6);
}
.footer-login-link:active .footer-small-icon path,
.footer-compare-link:active .footer-small-icon path,
.footer-cart-link:active .footer-small-icon path {
    fill: rgba(255, 198, 0, 0.3);
}
footer .tel {
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 164px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
footer .services-list {
    width: 100%;
    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}
.footer-services-item a {
    color: #ffffff;
    font-family: "Gilroy - Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.footer-services-item a:hover,
.footer-services-item a:focus {
    color: rgba(255, 255, 255, 0.6);
}
.footer-services-item a:active {
    color: rgba(255, 255, 255, 0.3);
}
.html-link:hover path,
.html-link:focus path {
    fill: rgba(255, 198, 0, 0.6);
}
.html-link:active path {
    fill: rgba(255, 198, 0, 0.3);
}
.social-buttons {
    width: 150px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: auto;
    padding: 0;

    list-style: none;
}
.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.3);
    color: #464646;
}
.social-button:hover,
.social-button:focus {
    background-color: rgba(255, 255, 255, 0.6);
}
.social-button:active {
    background-color: rgba(255, 255, 255, 0.1);
}
footer .source {
   margin: 0;
   padding: 0;
   margin-top: auto;
}

.visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden {
   position: absolute;
 
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
 
   white-space: nowrap;
 
   -webkit-clip-path: inset(100%);
 
           clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }